{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="bg-holder bg-card" style="background-image:url(/img/corner-1.png);"></div>
  <div class="card-body">
<table class="table">
  <tr class="row table-borderless">
    <th class="col-3">ID</th>
{% if g.user.check_acl('@admin') %}
    <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col-7">
      <textarea class="form-control fixed-width" name="appstream_id" cols="100" rows="1">{{md.appstream_id if md.appstream_id}}</textarea>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-warning btn-block" value="Set"/>
    </td>
    </form>
{% else %}
    <td class="col"><code>{{md.appstream_id}}</code></td>
{% endif %}
  </tr>
  <tr class="row">
    <th class="col-3">Name</th>
{% if g.user.check_acl('@admin') %}
    <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col-7">
      <textarea class="form-control fixed-width" name="name" cols="100" rows="1">{{md.name if md.name}}</textarea>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-warning btn-block" value="Set"/>
    </td>
    </form>
{% else %}
    <td class="col"><code>{{md.name_with_category}}</code></td>
{% endif %}
  </tr>
  <tr class="row">
    <th class="col-3">Name Variant Suffix (optional)</th>
{% if md.check_acl('@modify-keywords') %}
    <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col-7">
      <textarea class="form-control fixed-width" name="name_variant_suffix" cols="100" rows="1">{{md.name_variant_suffix if md.name_variant_suffix}}</textarea>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-warning btn-block" value="Set"/>
    </td>
    </form>
{% else %}
    <td class="col"><code>{{md.name_variant_suffix}}</code></td>
{% endif %}
  </tr>
  <tr class="row">
    <th class="col-3">Tag, e.g. <code>N1CET75W</code> (optional)</th>
{% if md.check_acl('@modify-keywords') %}
    <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col-7">
      <textarea class="form-control fixed-width" name="release_tag" cols="100" rows="1">{{md.release_tag if md.release_tag}}</textarea>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-warning btn-block" value="Set"/>
    </td>
    </form>
{% else %}
    <td class="col"><code>{{md.release_tag}}</code></td>
{% endif %}
  </tr>
  <tr class="row">
    <th class="col-3">Summary</th>
    <td class="col"><code>{{md.summary}}</code></td>
  </tr>
  <tr class="row">
    <th class="col-3">Version</th>
    <td class="col"><code>{{md.version_display}}</code></td>
  </tr>
{% if md.verfmt_with_fallback %}
  <tr class="row">
    <th class="col-3">Version Format</th>
    <td class="col">
      <code>{{md.verfmt_with_fallback.value}}</code>
    </td>
  </tr>
{% endif %}
{% for guid in md.guids %}
  <tr class="row">
    <th class="col-3">Device GUID</th>
    <td class="col"><code>{{guid.value}}</code></td>
  </tr>
{% endfor %}
  <tr class="row">
    <th class="col-3">Download Size</th>
    <td class="col">{{format_size(md.release_download_size)}}</td>
  </tr>
  <tr class="row">
    <th class="col-3">Installed Size</th>
    <td class="col">{{format_size(md.release_installed_size)}}</td>
  </tr>
{% if md.priority %}
  <tr class="row">
    <th class="col-3">Priority</th>
    <td class="col">{{md.priority}}</td>
  </tr>
{% endif %}
  <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row">
    <th class="col-3">Protocol</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-7">
      <select class="form-control" name="protocol_id">
{% for pr in protocols %}
{% if pr.is_public %}
        <option value="{{pr.protocol_id}}" {{ 'selected' if md.protocol and md.protocol.value == pr.value }}>{{ pr.name if pr.name else pr.value}}</option>
{% endif %}
{% endfor %}
      </select>
    </td>
    <td class="col-2">
      <input type="submit" class="btn btn-primary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col-7"><code>{{md.protocol.value}}</code></td>
{% endif %}
  </tr>
  <tr class="row">
    <th class="col-3">Category</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-7">
      <select class="form-control" name="category_id">
{% for cat in categories %}
        <option value="{{cat.category_id}}" {{ 'selected' if md.category and md.category.value == cat.value }}>{{ cat.name if cat.name else cat.value}}</option>
{% endfor %}
      </select>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-primary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col-7"><code>{{md.category.value}}</code></td>
{% endif %}
  </tr>
  </form>
{% if md.screenshot_url %}
  <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row">
    <th class="col-3">Screenshot URL</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-7">
      <input type="text" class="form-control" name="screenshot_url" value="{{md.screenshot_url if md.screenshot_url}}"/>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col"><code>{{md.screenshot_url}}</code></td>
{% endif %}
  </tr>
  </form>
{% endif %}
{% if md.screenshot_caption %}
  <form class="form-inline" action="{{url_for('components.route_modify', component_id=md.component_id)}}" method="POST">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row">
    <th class="col-3">Screenshot Caption</th>
{% if md.fw.remote.name != 'stable' or g.user.check_acl('@admin') %}
    <td class="col-7">
      <textarea class="form-control" name="screenshot_caption" cols="100" rows="3">{{md.screenshot_caption if md.screenshot_caption}}</textarea>
    </td>
    <td class="col">
      <input type="submit" class="btn btn-secondary btn-block" value="Set"/>
    </td>
{% else %}
    <td class="col"><code>{{md.screenshot_caption}}</code>
{% endif %}
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>

<div class="card mt-3">
  <div class="bg-holder bg-card" style="background-image:url(/img/corner-2.png);"></div>
  <div class="card-body">
    <h2 class="card-title">
      Security
    </h2>
    <div class="card-text">
      <ul class="list-group">
{% for claim in (md.autoclaims+md.claims)|sort() %}
        <li class="list-group-item">
          <span class="fs-2 {{claim.icon_css|join(' ')}}"></span>
          {{claim.summary}}
{% if claim.url %}
          <span class="float-right"><a class="btn btn-sm btn-outline-info" href="{{claim.url}}">More info</a></span>
{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
