flask-mail
flask-migrate
flask-wtf
flask-login
flask_oauthlib
lxml
humanize
sqlalchemy
blinker
python-gnupg
pyqrcode
onetimepass
PyGObject
PyMySQL
GeoIP
iso3166
pefile
psycopg2
pyasn1_modules
pylint
pytest-cov
yara-python
psptool
