{% extends "default.html" %}
{% block title %}Component Shards{% endblock %}

{% block content %}

{% if shards|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text">
      No shards have been created.
    </p>
  </div>
</div>

{% else %}

{% for shard in shards %}
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">
      <code>{{shard.guid}}</code> ({{shard.cnt}})
    </div>
    <div class="card-text mb-3">
{% if shard.description %}
      {{shard.description}}
{% else %}
      No description!
{% endif %}
    </div>
    <a class="card-link btn btn-info"
      href="{{url_for('shards.route_show', component_shard_info_id=shard.component_shard_info_id)}}"
      role="button">Details</a>
    <a class="card-link btn btn-info"
      href="{{url_for('firmware.route_shard_search', kind='guid', value=shard.guid)}}"
      role="button">Firmware</a>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
