{% extends "default.html" %}
{% block title %}Component Shard Details{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Component Shard Details</h2>
<form method="post" action="{{url_for('shards.route_modify', component_shard_info_id=shard.component_shard_info_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="display_name">Description:</label>
    <textarea type="text" class="form-control" name="description" rows="10">{{shard.description if shard.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="display_name">GUID Claim:</label>
    <select class="form-control" name="claim_id">
      <option value="" {{ 'selected' if shard.claim_id == 0 }}>None</option>
{% for claim in claims %}
      <option value="{{claim.claim_id}}" {{ 'selected' if shard.claim_id == claim.claim_id }}>{{claim.summary}}</option>
{% endfor %}
    </select>
  </div>
  <input type="submit" class="btn btn-primary btn-large" value="Modify">
</form>
  </div>
</div>

{% endblock %}
