{% extends "default.html" %}
{% block title %}Component Shards{% endblock %}

{% block content %}

{% if shards|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text">
      No shards have been created.
    </p>
  </div>
</div>

{% else %}

{% for shard in shards %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      <code>{{shard.guid}}</code> ({{shard.cnt}})
    </h2>
    <div class="card-text mb-3">
{% if shard.description %}
      {{shard.description}}
{% else %}
      No description!
{% endif %}
    </div>
    <a class="card-link btn btn-info"
      href="{{url_for('shards.route_show', component_shard_info_id=shard.component_shard_info_id)}}"
      role="button">Details</a>
    <a class="card-link btn btn-info"
      href="{{url_for('firmware.route_shard_search', kind='guid', value=shard.guid)}}"
      role="button">Firmware</a>
  </div>
</div>
{% endfor %}

{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Create a new shard</h2>
    <form method="post" action="{{url_for('shards.route_create')}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group card-text">
        <label>GUID</label>
        <input class="form-control" type="text" name="guid" placeholder="9b3ada4f-ae56-4c24-8dea-f03b7558ae50" required />
      </div>
      <input class="card-link btn btn-primary" type="submit" value="Add"/>
    </form>
  </div>
</div>

{% endblock %}
