{% extends "default.html" %}
{% block title %}Component Shard Claims{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Component Shard Claims</h2>
<table class="table">
  <tr class="row">
    <th class="col col-sm-6">Checksum</th>
    <th class="col col-sm-4">Claim</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% if claims|length == 0 %}
  <tr class="row">
    <td class="col col-sm-12"><p class="text-muted">No claims exist yet.</p></td>
  </tr>
</p>
{% else %}
{% for claim in claims|sort(attribute='checksum') %}
  <tr class="row">
    <td class="col col-sm-6"><code>{{claim.checksum|truncate(64, False, '…')}}</code></td>
    <td class="col col-sm-4"><code>{{claim.claim.summary}}</code></td>
    <td class="col col-sm-2">
      <a class="btn btn-block btn-danger"
        href="{{url_for('shards.route_shard_claim_delete',
                        component_shard_info_id=claim.component_shard_info_id,
                        component_shard_claim_id=claim.component_shard_claim_id)}}"
        role="button">Delete</a>
    </td>
  </tr>
{% endfor %}
{% endif %}
  <tr class="row">
    <form method="post" action="{{url_for('shards.route_shard_claim_create',
                                          component_shard_info_id=shard.component_shard_info_id)}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col col-sm-6">
      <input type="text" class="form-control" name="checksum" value="" placeholder="Checksum..." required>
    </td>
    <td class="col col-sm-4">
    <select class="form-control" name="claim_id">
{% for claim in claims_all %}
      <option value="{{claim.claim_id}}">{{claim.summary}}</option>
{% endfor %}
    </select>
    </td>
    <td class="col col-sm-2">
      <input type="submit" class="btn btn-block btn-primary" value="Add">
    </td>
    </form>
  </tr>
</table>
  </div>
</div>

{% endblock %}
