{% extends "default.html" %}
{% block title %}Component Shard Claims{% endblock %}

{% block nav %}{% include 'shard-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="card-title">Component Shard Claims</div>
<table class="table">
  <tr class="row">
    <th class="col col-sm-3">Checksum</th>
    <th class="col col-sm-2">Compare</th>
    <th class="col col-sm-5">Value</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% if claims|length == 0 %}
  <tr class="row">
    <td class="col col-sm-12"><p class="text-muted">No claims exist yet.</p></td>
  </tr>
</p>
{% else %}
{% for claim in claims|sort(attribute='checksum') %}
  <tr class="row">
    <td class="col col-sm-3"><code>{{claim.checksum|truncate(32, False, '…')}}</code></td>
    <td class="col col-sm-2"><code>{{claim.kind}}</code></td>
    <td class="col col-sm-5">{{claim.value|truncate(50, False, '…')}}</td>
    <td class="col col-sm-2">
      <a class="btn btn-block btn-danger"
        href="{{url_for('shards.route_shard_claim_delete',
                        component_shard_info_id=claim.component_shard_info_id,
                        component_shard_claim_id=claim.component_shard_claim_id)}}"
        role="button">Delete</a>
    </td>
  </tr>
{% endfor %}
{% endif %}
  <tr class="row">
    <form method="post" action="{{url_for('shards.route_shard_claim_create',
                                          component_shard_info_id=shard.component_shard_info_id)}}">
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <td class="col col-sm-3">
      <input type="text" class="form-control" name="checksum" value="" placeholder="Checksum..." required>
    </td>
    <td class="col col-sm-2">
      <input type="text" class="form-control" name="kind" value="" placeholder="Key..." required>
    </td>
    <td class="col col-sm-5">
      <input type="text" class="form-control" name="value" value="" placeholder="Value..." required>
    </td>
    <td class="col col-sm-2">
      <input type="submit" class="btn btn-block btn-primary" value="Add">
    </td>
    </form>
  </tr>
</table>
  </div>
</div>

{% endblock %}
