{% extends "default.html" %}
{% block title %}Firmware Problems{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% for problem in fw.problems %}
<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <span class="fs-2 {{problem.icon_css|join(' ')}}"></span>
{% if problem.md %}
      {{problem.summary}} for &lsquo;{{problem.md.name_with_category}}&rsquo;
      <code class="float-right">{{problem.md.appstream_id}}</code>
{% else %}
      {{problem.summary}}
{% endif %}
    </div>
{% if problem.description %}
    <td class="col col-sm-7">
      <p class="card-text">
        {{problem.description}}
      </p>
    </td>
{% endif %}
{% if problem.url %}
    <a class="btn btn-info card-link" href={{problem.url}}>Details</a>
{% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
