{% extends "default.html" %}
{% block title %}Search Results{% endblock %}

{% block content %}

<div class="card mt-3">
  <div class="card-body">
{% if search_size < 0 %}
    <p class="text-muted">Search for firmware or hardware vendors using the top bar&hellip;</p>
{% elif mds|length == 0 and vendors|length == 0 %}
    <div class="card-title">No results found for <i>{{keywords_bad|join(',')}}</i>.</div>
{% else %}
{% if keywords_good|length > 0 and keywords_bad|length > 0 and vendors|length == 0 %}
    <div class="card-title">Showing {{mds|length}} of {{search_size}} results for <i>{{keywords_good|join(',')}},<strike>{{keywords_bad|join(',')}}</strike></i>:</div>
{% else %}
    <div class="card-title">Showing {{mds|length + vendors|length}} of {{search_size + vendors|length}} results for <i>{{keywords_good|join(',')}}</i>:</div>
{% endif %}
<table class="table table-striped card-text">
{% for vendor in vendors %}
  <tr class="row">
    <td class="col col-sm-1">
{% if vendor.icon %}
      <img class="img-thumbnail" src="/uploads/{{vendor.icon}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="/uploads/vendor-unknown.png" height="64"/>
{% endif %}
    </td>
    <td class="col col-sm-11">
      <a href="{{url_for('vendors.route_list')}}#{{vendor.group_id}}">Hardware Vendor: {{vendor.display_name}}</a><br/>
      Uses the LVFS: {{ 'Yes' if vendor.is_account_holder else 'No' }}<br/>
      Uploading Firmware: {{ 'Yes' if vendor.fw_stable else 'No' }}<br/>
      Official Statement: {{vendor.description}}
    </td>
  </tr>
{% endfor %}
{% for md in mds %}
  <tr class="row">
    <td class="col col-sm-1">
{% if md.fw.vendor.icon %}
      <img class="img-thumbnail" src="/uploads/{{md.fw.vendor.icon}}" height="64"/>
{% else %}
      <img class="img-thumbnail" src="/uploads/vendor-unknown.png" height="64"/>
{% endif %}
    </td>
    <td class="col col-sm-11">
      <a href="{{url_for('devices.route_show', appstream_id=md.appstream_id)}}">{{md.name_with_category}}</a><br/>
      Vendor: {{md.developer_name}}<br/>
      Latest Version: {{md.version_display}}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
  </div>
</div>

{% if show_vendor_nag and not g.user is defined %}
<div class="card mt-3">
  <div class="card-header card-title list-group-item-info">
    Not found what you were looking for?
  </div>
  <div class="card-body">
    <p class="card-text">
      If you didn't find the hardware you were looking for <b>please contact
      your hardware vendor and ask them to support the LVFS.</b>
    </p>
    <p class="card-text">
      Companies only respond to consumer demand, and having customers
      opening support tickets and sending emails to ask about firmware updating
      on Linux is the best way to get vendors uploading firmware.
      More and more companies are joining the LVFS, but some need a little convincing.
      Thanks!
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
