{% extends "default.html" %}
{% block title %}Firmware Component Issues{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Issues</div>
    <p class="card-text">
{% if md.check_acl('@modify-updateinfo') %}
      CVE information about the release can be entered here, or
      <a href="{{url_for('.route_components_issue_autoimport', component_id=md.component_id)}}">auto-imported</a>
      from the existing update description.
{% else %}
      CVE information about the release can be entered here, or auto-imported
      from the existing update description.
{% endif %}
    </p>
<table class="table">
{% for issue in md.issues %}
  <tr class="row">
    <td class="col col-lg-10"><code><a href="{{issue.url}}">{{issue.value}}</a></code></td>
    <td class="col">
{% if md.check_acl('@modify-updateinfo') %}
      <a class="btn btn-block btn-danger"
        href="{{url_for('.route_components_issue_delete', component_id=md.component_id, component_issue_id=issue.component_issue_id)}}">Delete</a>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify-updateinfo') %}
  <form method="post" action="{{url_for('.route_components_issue_create', component_id=md.component_id)}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-lg-10">
      <input type="text" class="form-control" name="value" placeholder="CVE-2019-00000,CVE-2019-12345" required>
    </td>
    <td class="col">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>
{% endblock %}
