{% extends "default.html" %}
{% block title %}Firmware Component Details{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

{% if md.check_acl('@modify-requirements') %}
{% if md.fw.remote.name == 'stable' and not g.user.check_acl('@admin') %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has <strong>already been pushed to stable</strong>.
  </div>
{% endif %}
{% endif %}

<form class="form" action="{{url_for('.route_component_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="firmware">
<input type="hidden" name="value" value="">
<div class="card">
  <div class="card-body">
    <div class="card-title">Existing firmware version</div>
    <div class="row card-text">
{% set rq = md.find_req('firmware', None) %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input class="card-link btn btn-primary mt-3" type="submit" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<form class="form" action="{{url_for('.route_component_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="firmware"/>
<input type="hidden" name="value" value="bootloader"/>
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Bootloader version</div>
    <div class="row card-text">
{% set rq = md.find_req('firmware','bootloader') %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input class="card-link btn btn-primary mt-3" type="submit" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<form class="form mt-2" action="{{url_for('.route_component_requirement_modify', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<input type="hidden" name="kind" value="id">
<input type="hidden" name="value" value="org.freedesktop.fwupd">
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Client fwupd version</div>
    <div class="row card-text">
{% set rq = md.find_req('id','org.freedesktop.fwupd') %}
      <div class="col">
        <select class="form-control" name="compare">
          <option value="any" {{ 'selected' if not rq }}>Any</option>
          <option value="ge" {{ 'selected' if rq and rq.compare == 'ge' }}>Greater than or equal</option>
          <option value="gt" {{ 'selected' if rq and rq.compare == 'gt' }}>Greater than</option>
          <option value="le" {{ 'selected' if rq and rq.compare == 'le' }}>Less than or equal</option>
          <option value="lt" {{ 'selected' if rq and rq.compare == 'lt' }}>Less than</option>
          <option value="eq" {{ 'selected' if rq and rq.compare == 'eq' }}>Exactly</option>
          <option value="glob" {{ 'selected' if rq and rq.compare == 'glob' }}>Glob</option>
          <option value="regex" {{ 'selected' if rq and rq.compare == 'regex' }}>Regular Expression</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control fixed-width h-100" name="version" value="{{rq.version}}"/>
      </div>
    </div>
{% if md.check_acl('@modify-requirements') %}
    <input type="submit" class="card-link btn btn-primary mt-3" value="Set"/>
{% endif %}
  </div>
</div>
</form>

<form class="form" action="{{url_for('.route_component_requirement_create', component_id=md.component_id)}}" method="POST" >
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Computer Hardware IDs</div>
    <p class="card-text">
      Add GUIDs here to restrict the update to a specific machine.
    </p>
{% for rq in md.requirements %}
{% if rq.kind == 'hardware' %}
<table class="table card-text">
  <tr class="row">
    <td class="col col-sm-10">
      <code>{{rq.value}}</code>
    </td>
    <td class="col col-sm-2 text-right">
      <a class="btn btn-secondary btn-block"
        href="{{url_for('.route_component_requirement_delete', component_id=rq.md.component_id, requirement_id=rq.requirement_id)}}"
        role="button">Remove</a>
    </td>
  </tr>
</table>
{% endif %}
{% endfor %}
{% if md.check_acl('@modify-requirements') %}
    <div class="card-text mb-3">
      <input type="hidden" name="kind" value="hardware">
      <input type="text" class="form-control fixed-width" name="value" placeholder="b0f340b1-361e-55f9-b691-bc46d0921ea8"/>
    </div>
    <input class="card-link btn btn-primary" type="submit" value="Add"/>
{% endif %}
{% if md.requirements %}
    <a class="card-link btn btn-info" href="{{url_for('.route_component_show', component_id=md.component_id, page='requires-advanced')}}">Show detailed view</a>
{% endif %}
  </div>
</div>
</form>

{% endblock %}
