{% extends "default.html" %}
{% block title %}Components with problems{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
<table class="table">
{% for md in mds %}
  <tr class="row">
    <td class="col col-sm-3">{{md.fw.vendor.display_name}} {{md.name}}</td>
    <td class="col col-sm-7">
      <ul>
{% for problem in md.problems %}
        <li>{{problem.description}}</li>
{% endfor %}
      </ul>
    </td>
    <td class="col col-sm-2 text-right">
      <a class="btn btn-info btn-block" href="{{url_for('.route_components_show', component_id=md.component_id, page='update')}}">Details</a>
    </td>
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endblock %}
