{% extends "default.html" %}

{% block title %}Archive Formats{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Archive Formats</div>
    <p class="card-text">
      The <code>.cab</code> archive format was chosen to match the format expected
      by Windows Update.
      This allows vendors to produce one deliverable that can be submitted to the LVFS
      for signing and then to Microsoft Update, or the other way around.
      Signatures from one process will not overwrite signatures from another.
    </p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Using Linux</div>
    <p class="card-text">
      Cabinet archives can be created easily on Linux with the the <code>gcab</code>
      command line program. For example:
    </p>
<pre class="ml-3">
$ gcab -c -v acme-product-name-v1_2_3.cab firmware.metainfo.xml firmware.bin
firmware.metainfo.xml
firmware.bin
</pre>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Using Windows</div>
    <p class="card-text">
      When building archives on Windows you will need to use the <code>makecab.exe</code>
      program. This works slightly different to <code>gcab</code> in that it needs
      a <em>manifest</em> to be created of all the files that are included.
      To create the manifest create a file called <code>config.txt</code> with the
      following contents:
    </p>
<pre class="m-3">
.OPTION EXPLICIT
.set Cabinet=on
.set Compress=on
.set MaxDiskSize=0
.set DiskDirectoryTemplate=.
.set DestinationDir=DriverPackage
firmware.metainfo.xml
firmware.bin
</pre>
    <p class="card-text">
    Then run <code>makecab</code> to create the <code>1.cab</code> archive:
    </p>
<pre class="ml-3">
C:\> makecab /F config.txt
Cabinet Maker - Lossless Data Compression Tool

2,098,010 bytes in 2 files
Total files:              2
Bytes before:     2,098,010
Bytes after:      1,595,399
After/Before:            76.04% compression
Time:                     2.12 seconds ( 0 hr  0 min  2.12 sec)
Throughput:             968.26 Kb/second
</pre>
  </div>
</div>

<div class="container ht-note mt-3">
  <div class="alert alert-warning">
    If you forget the <samp>.OPTION EXPLICIT</samp> in the manifest then the size of
    <code>firmware.cab</code> is limited to 1.38Mb.
    If you try including a firmware with a size greater than this you will see
    <samp>Invalid folder index</samp> when trying to use <code>fwupdmgr</code>
    as the archive is not valid.
  </div>
</div>

{% endblock %}
