{% extends "default.html" %}
{% block title %}Firmware Components{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% for md in fw.mds|sort(attribute='priority',reverse=True) %}
<div class="card mt-3">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col">
        <div class="mb-0 card-title card-title">{{md.name_with_category}}</div>
      </div>
      <div class="col-auto">
        <code>{{md.appstream_id}}</code>
      </div>
    </div>
    <p class="card-text">
      <small class="text-muted">Version: {{md.version_display}}</small>
    </p>
    <a class="card-link btn btn-info" href="{{url_for('.route_component_show', component_id=md.component_id)}}">Details</a>
  </div>
</div>
{% endfor %}

{% endblock %}
