{% extends "default.html" %}
{% block title %}Metadata{% endblock %}

{% block content %}

{% if g.user.is_qa %}

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">
      Stable
      <span class="badge badge-success">Public</span>
      <a class="float-right" href="/downloads/firmware.xml.gz">
        <code>firmware.xml.gz</code>
      </a>
    </div>
    <p class="card-text">
      This remote contains firmware available to millions of end users.
    </p>
{% if remotes['stable'].is_dirty %}
    <div class="alert alert-info card-text" role="alert">
      Remote will be signed with new firmware in {{format_timedelta_approx(remotes['stable'].scheduled_signing)}}
    </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <a class="card-link btn btn-primary"
      href={{url_for('.route_metadata_rebuild_remote',
                     remote_id=remotes['stable'].remote_id)}}>Rebuild</a>
{% endif %}
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">
      Testing
      <span class="badge badge-success">Public</span>
      <a class="float-right" href="/downloads/firmware-testing.xml.gz">
        <code>firmware-testing.xml.gz</code>
      </a>
    </div>
    <p class="card-text">
      This remote contains firmware available to thousands of end users who have
      manually enabled the <code>lvfs-testing</code> remote.
    </p>
{% if remotes['testing'].is_dirty %}
    <div class="alert alert-info card-text" role="alert">
      Remote will be signed with new firmware in {{format_timedelta_approx(remotes['testing'].scheduled_signing)}}
    </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <a class="card-link btn btn-primary"
      href={{url_for('.route_metadata_rebuild_remote',
                     remote_id=remotes['testing'].remote_id)}}>Rebuild</a>
{% endif %}
  </div>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
  This user account does not yet have permission to push to the
  <code>testing</code> or <code>stable</code> remotes.
</div>

{% endif %}

{% for v in vendors %}
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">
      {{v.display_name_with_team}} Embargo
      <span class="badge badge-warning">Private</span>
      <a class="float-right" href="/downloads/{{v.remote.filename}}">
        <code>{{v.remote.filename[:16]}}</code>
      </a>
    </div>
    <p class="card-text">
      This remote contains firmware available only to users who have installed the
      vendor remote.
      To complete an end-to-end test save <a href="{{url_for('.route_metadata_remote', group_id=v.group_id)}}">
      <code>{{v.group_id}}-embargo.conf</code></a> to <code>/etc/fwupd/remotes.d</code>
      if you are using the distribution version of fwupd or to
      <code>/root/snap/fwupd/current/etc/fwupd/remotes.d</code> for the
      <a href="https://snapcraft.io/fwupd">Snap</a> version.
    </p>
    <p class="card-text">
      Do not share the embargo URL with external users as the private firmware
      should remain hidden from the public.
      You also may need to do <code>fwupdmgr refresh</code> on each
      client to show new updates.
    </p>
{% if remotes['embargo-' + v.group_id].is_dirty %}
    <div class="alert alert-info card-text" role="alert">
      Remote will be signed with new firmware in {{format_timedelta_approx(remotes['embargo-' + v.group_id].scheduled_signing)}}
    </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <a class="card-link btn btn-primary"
      href={{url_for('.route_metadata_rebuild_remote',
                     remote_id=remotes['embargo-' + v.group_id].remote_id)}}>Rebuild</a>
{% endif %}
  </div>
</div>
{% endfor %}

{% if g.user.check_acl('@admin') %}
<!-- admin only actions -->
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Complete Rebuild</div>
<p class="card-text">
  This rebuilds metadata for all targets and QA groups.
</p>
<form method=\"get\" action="{{url_for('.route_metadata_rebuild')}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<button class="btn btn-danger">Rebuild Metadata</button>
</form>
  </div>
</div>
{% endif %}
{% endblock %}
