{% extends "default.html" %}
{% block title %}Protocol Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Protocol Details</div>
<form method="post" action="{{url_for('.protocol_modify', protocol_id=protocol.protocol_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="group_id">Value:</label>
    <input type="text" class="form-control" name="value" value="{{protocol.value}}" required />
  </div>
  <div class="form-group">
    <label for="display_name">Name:</label>
    <input type="text" class="form-control" name="name" value="{{protocol.name if protocol.name}}" required />
  </div>
  <div class="form-group">
    <label for="is_public">
      <input class="checkbox" type="checkbox" name="is_public" value="1" {{'checked' if protocol.is_public}} />
      Firmware protocol is public
    </label>
  </div>
  <div class="form-group">
    <label for="is_signed">
      <input class="checkbox" type="checkbox" name="is_signed" value="1" {{'checked' if protocol.is_signed}} />
      Cryptographically signed images or transfer, e.g. GPG, PKCS-7, X509
    </label>
  </div>
  <div class="form-group">
    <label for="can_verify">
      <input class="checkbox" type="checkbox" name="can_verify" value="1" {{'checked' if protocol.can_verify}} />
      Can verify checksum on device
    </label>
  </div>
  <div class="form-group">
    <label for="has_header">
      <input class="checkbox" type="checkbox" name="has_header" value="1" {{'checked' if protocol.has_header}} />
      Has header or footer requirement that can be tested, e.g. <code>CAPSULE_HEADER</code> or <code>UFD</code>
    </label>
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Modify">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Protocol?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, protocols can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger"
          href="{{url_for('.protocol_delete', protocol_id=protocol.protocol_id)}}"
          role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
