{% extends "default.html" %}
{% block title %}User YARA Queries{% endblock %}

{% block nav %}{% include 'query-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <pre class="mb-3">{{query.value}}</pre>
    <a class="card-link btn btn-info"
       href="{{url_for('.route_queries_retry', yara_query_id=query.yara_query_id)}}"
       role="button">Retry</a>
  </div>
</div>

{% if query.results|length == 0 %}
<div class="card mt-3">
  <div class="card-body">
  <p class="card-text">
    No matching shards.
  </p>
  </div>
</div>
{% endif %}

{% for result in query.results %}
{% set md = result.md %}
<div class="card mt-3">
  <div class="card-header card-title list-group-item-{{query.color}}">
    {{md.fw.vendor.display_name}} {{md.name_with_category}}: {{result.result}}
  </div>
{% if result.shard %}
  <div class="card-body">
{% set shard = result.shard %}
      <table class="table table-borderless">
{% if shard.info %}
        <tr class="row">
          <th class="col-2">Name</th>
          <td class="col">{{shard.name}}</td>
        </tr>
{% endif %}
{% if shard.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard.size)}}</td>
        </tr>
{% endif %}
{% if shard.entropy %}
        <tr class="row">
          <th class="col-2">Entropy</th>
          <td class="col">{{shard.entropy|round(2)}}</td>
        </tr>
{% endif %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{shard.guid}}</code></td>
        </tr>
{% for csum in shard.checksums %}
        <tr class="row">
          <th class="col-2">{{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
      </table>
    <a class="card-link btn btn-info" href="{{url_for('.route_shards_download', component_shard_id=shard.component_shard_id)}}">Download File</a>
{% if shard.checksum %}
    <a class="card-link btn btn-info" href="{{url_for('.route_firmware_shard_search', kind='checksum', value=result.shard.checksum)}}">Show all</a>
{% endif %}
  </div>
{% else %}
  <div class="card-body">
      <table class="table table-borderless">
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(md.release_download_size)}}</td>
        </tr>
{% for guid in md.guids %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{guid.value}}</code></td>
        </tr>
{% endfor %}
        <tr class="row">
          <th class="col-2">SHA1</th>
          <td class="col text-truncate"><code>{{md.checksum_contents}}</code></td>
        </tr>
      </table>
    <a class="card-link btn btn-info" href="{{url_for('.route_components_download', component_id=md.component_id)}}">Download File</a>
  </div>
{% endif %}
</div>
{% endfor %}

{% endblock %}

