{% extends "default.html" %}
{% block title %}Report {{rpt.report_id}}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <div class="card-title">Report {{rpt.report_id}}</div>
<table class="table">
  <tr class="row table-borderless">
    <th class="col col-sm-5">Key</th>
    <th class="col col-sm-7">Value</th>
  </tr>
{% for rattr in rpt.attributes|sort(attribute='key') %}
  <tr class="row">
    <td class="col col-sm-5"><code>{{rattr.key}}</code></td>
    <td class="col col-sm-7"><code>{{rattr.value}}</code></td>
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endblock %}
