{% extends "default.html" %}
{% block title %}Runtime Tests{% endblock %}

{% block nav %}{% include 'settings-nav.html' %}{% endblock %}

{% block content %}
{% if tests|length == 0 %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Tests</div>
    <p class="card-text">
      No tests in this state.
    </p>
  </div>
</div>
{% endif %}

{% for test in tests %}
<div class="card mb-3">
  <div class="card-header card-title list-group-item-{{test.color}}">
    {{test.fw.md_prio.developer_name}} {{test.fw.md_prio.name}} v{{test.fw.md_prio.version_display}}
    <span class="float-right">{{test.timestamp}}</span>
  </div>
  <div class="card-body">
{% if test.is_pending %}
    <p class="card-text">Test is pending…</p>
{% elif test.is_running %}
    <p class="card-text">Test is running since {{test.started_ts}}…</p>
{% endif %}
{% if test.attributes|length > 0 %}
    <ul class="card-text">
{% for attr in test.attributes %}
      <li class="list-group-item">
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% endif %}
      <a class="card-link btn btn-info"
         href="{{url_for('.route_firmware_show', firmware_id=test.firmware_id)}}"
         role="button">Details</a>
{% if test.started_ts and test.check_acl('@retry') %}
      <a class="card-link btn btn-info"
         href="{{url_for('.route_tests_retry', test_id=test.test_id)}}"
         role="button">Retry</a>
{% endif %}
{% if not test.success and test.ended_ts and test.waivable and not test.waived_ts and test.check_acl('@waive') %}
      <a class="card-link btn btn-warning"
         href="{{url_for('.route_tests_waive', test_id=test.test_id)}}"
         role="button">Waive</a>
{% endif %}
  </div>
{% if test.waived_ts %}
  <div class="card-footer">
    Waived by <code>{{test.waived_user.username}}</code>
  </div>
{% endif %}
</div>
{% endfor %}

{% endblock %}
