{% extends "default.html" %}
{% block title %}Component Shard Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Component Shard Details</div>
<form method="post" action="{{url_for('.route_shards_modify', component_shard_info_id=shard.component_shard_info_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="display_name">Description:</label>
    <textarea type="text" class="form-control" name="description" rows="10">{{shard.description if shard.description}}</textarea>
  </div>
  <input type="submit" class="btn btn-primary btn-large" value="Modify">
</form>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Shards</div>
    <ul class="list-group">
{% for shd in shard.shards %}
      <li class="list-group-item">{{shd.md.fw.vendor.display_name}} {{shd.md.name}} &mdash; <code>{{shd.name}}</code></li>
{% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
