{% extends "default.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
{% if vendor_ids|length > 0 %}
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Restrictions</div>
<p class="card-text">
  Due to the sensitive nature of providing firmware files we ensure that only
  vendors can install firmware on their own devices.
  You are currently limited to providing firmware with the vendor IDs of:
</p>
<ul>
{% for vendor_id in vendor_ids %}
<li><code>{{vendor_id}}</code></li>
{% endfor %}
</ul>
<p class="card-text">
  If you need to add another vendor ID then please
  <a href="https://github.com/hughsie/lvfs-website/issues">file an issue</a>
  with further information.
</p>
  </div>
</div>
{% endif %}

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Upload Firmware</div>
    <p class="card-text">
      Uploading firmware is covered by <a href="{{url_for('.agreement_show')}}">our legal agreement</a>.
    </p>
{% if g.user.vendor.do_not_track %}
    <div class="alert alert-info mb-3" role="alert">
      Your vendor manager has globally enabled &lsquo;Do Not Track&rsquo; for all firmware.
      No download statistics or user reports will be available for any files
      uploaded by your user account.
    </div>
{% endif %}
    <form action="{{url_for('.upload_firmware')}}" method="post" enctype="multipart/form-data" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
{% if affiliations|length %}
      <div class="form-group card-text">
        <label for="vendor_id">Upload for vendor</label>
        <select class="form-control pt-0 pb-0 pl-0 pr-0" name="vendor_id" size="{{affiliations|length+1}}" required>
          <option class="pt-2 pb-2 pl-2" value="{{g.user.vendor.vendor_id}}">{{g.user.vendor.display_name_with_team}}</option>
{% for r in affiliations %}
          <option class="pt-2 pb-2 pl-2" value="{{r.vendor.vendor_id}}">{{r.vendor.display_name}}</option>
{% endfor %}
        </select>
      </div>
{% else %}
      <input type="hidden" name="vendor_id" value="{{g.user.vendor_id}}">
{% endif %}
{% if g.user.vendor.is_embargo_default %}
      <input type="hidden" name="target" value="embargo">
{% else %}
      <div class="form-group card-text">
        <label for="target">Upload to remote</label>
        <select class="form-control pt-0 pb-0 pl-0 pr-0" name="target" size="2" required>
          <option class="pt-2 pb-2 pl-2" value="private">Private (secret)</option>
          <option class="pt-2 pb-2 pl-2" value="embargo">Embargoed (available to all members of the vendor group)</option>
        </select>
      </div>
{% endif %}
      <div class="form-group card-text">
        <label for="file-input">Firmware file</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file-input" name="file" required/>
          <label class="custom-file-label" for="file-input">Choose file</label>
        </div>
      </div>
      <input type="submit" class="btn btn-primary card-link" value="Upload"/>
    </form>
  </div>
</div>
{% endblock %}
