{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <h2 class="card-title">Report Attributes</h2>
    <p class="card-text">
      The following report attributes can be analysed:
    </p>
    <ul class="list-group">
{% for attr in attrs %}
      <li class="list-group-item">
        <a href="{{url_for('analytics.route_reportattrs_kind', kind=attr)}}">
          <code>{{attr}}</code>
        </a>
      </li>
{% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
