{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

{% if not reports|length %}

<div class="card">
  <div class="card-body">
    <p class="card-link text-secondary">
      No reports exist.
    </p>
  </div>
</div>

{% else %}

{% for r in reports %}
<div class="card mb-3">
  <div class="card-header card-title list-group-item-{{r.color}}">
    {{r.fw.md_prio.developer_name_display}} {{r.fw.names|join(' & ')}}
    <code class="float-right">{{r.timestamp}}</code>
  </div>
  <div class="card-body">
    <p class="card-text">
      <code>{{r.to_kvs()}}</code>
    </p>
    <a class="card-link btn btn-info" href="{{url_for('firmware.route_show', firmware_id=r.fw.firmware_id)}}">Details</a>
    <a class="card-link btn btn-danger float-right" href="{{url_for('reports.route_delete', report_id=r.report_id)}}">Delete</a>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
