{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

{% if clients|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text">
      No recent downloads.
    </p>
  </div>
</div>
{% endif %}

{% for c in clients %}
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">{{c.fw.md_prio.name_with_category}}</code></h2>
    <p class="card-text">{{c.timestamp.strftime('%F %T')}} &mdash; from <code>{{c.addr|truncate(9, False, '…')}}</code></p>
    <p class="card-text"><code>{{c.user_agent}}</code></p>
    <a class="card-link" href="{{url_for('firmware.route_show', firmware_id=c.fw.firmware_id)}}">Details</a>
  </div>
</div>
{% endfor %}

{% endblock %}
