{% extends "default.html" %}
{% block title %}Issue Details{% endblock %}

{% block nav %}{% include 'issue-nav.html' %}{% endblock %}

{% block content %}
{% if reports_cnt == 0 %}
<div class="alert alert-light" role="alert">
  None!
</div>
{% endif %}

{% for r in reports %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">{{r.timestamp}}</h2>
    <code class="card-text">{{r.to_kvs()}}</code>
  </div>
</div>
{% endfor %}
{% for r in reports_hidden %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">{{r.timestamp}}</h2>
    <code class="card-text">JSON not available for security level</code>
  </div>
</div>
{% endfor %}

{% endblock %}
