{% extends "default.html" %}
{% block title %}{{md_old.name}} {{md_old.version_display}} -> {{md_new.version_display}} {% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}

{% for shard in shards_added %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-danger">
    {{shard.name}} : Added
  </h2>
  <div class="card-body">
{% if shard.description %}
    <p class="card-text">
      {{shard.description}}
    </p>
{% endif %}
    <p class="card-text">
      <table class="table table-borderless">
{% if shard.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard.size)}}</td>
        </tr>
{% endif %}
{% if shard.entropy %}
        <tr class="row">
          <th class="col-2">Entropy</th>
          <td class="col">{{shard.entropy|round(2)}}</td>
        </tr>
{% endif %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{shard.guid}}</code></td>
        </tr>
{% for csum in shard.checksums %}
        <tr class="row">
          <th class="col-2">{{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
      </table>
    </p>
  </div>
</div>
{% endfor %}

{% for shard in shards_removed %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-success">
    {{shard.name}} : Removed
  </h2>
  <div class="card-body">
{% if shard.description %}
    <p class="card-text">
      {{shard.description}}
    </p>
{% endif %}
    <p class="card-text">
      <table class="table table-borderless">
{% if shard.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard.size)}}</td>
        </tr>
{% endif %}
{% if shard.entropy %}
        <tr class="row">
          <th class="col-2">Entropy</th>
          <td class="col">{{shard.entropy|round(2)}}</td>
        </tr>
{% endif %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{shard.guid}}</code></td>
        </tr>
{% for csum in shard.checksums %}
        <tr class="row">
          <th class="col-2">{{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
      </table>
    </p>
  </div>
</div>
{% endfor %}

{% for shard_new, shard_old in shards_changed %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-warning">
    {{shard_new.name}} : Changed
  </h2>
  <div class="card-body">
{% if shard_new.description %}
    <p class="card-text">
      {{shard_new.description}}
    </p>
{% endif %}

    <p class="card-text">
      <table class="table table-borderless">
{% if shard_old.size != shard_new.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard_old.size)}} → {{format_size(shard_new.size)}}</td>
        </tr>
{% elif shard_new.size %}
        <tr class="row">
          <th class="col-2">Size</th>
          <td class="col">{{format_size(shard_new.size)}}</td>
        </tr>
{% endif %}
        <tr class="row">
          <th class="col-2">GUID</th>
          <td class="col"><code>{{shard_new.guid}}</code></td>
        </tr>
{% for csum in shard_old.checksums %}
        <tr class="row">
          <th class="col-2">Old {{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
{% for csum in shard_new.checksums %}
        <tr class="row">
          <th class="col-2">New {{csum.kind}}</th>
          <td class="col text-truncate"><code>{{csum.value}}</code></td>
        </tr>
{% endfor %}
      </table>
    </p>
  </div>
</div>
{% endfor %}

{% endblock %}
