input[type=checkbox] {
	width: 1.5em;
	height: 1.5em;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

input[type=text].fixed-width
{
    font-family: monospace;
    font-size: 110%;
}

textarea.fixed-width
{
    font-family: monospace;
}

.input-group>.input-group-prepend {
    flex: 0 0 30%;
}
.input-group .input-group-text {
    width: 100%;
}

img.grayscale {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
   opacity: 0.4;
}
