{% extends "default.html" %}
{% block title %}Agent {{agent.hostname}}{% endblock %}

{% block nav %}{% include 'agent-nav.html' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Details</h2>
<table class="table">
  <tr class="row">
    <th class="col-sm-3">Agent ID</th>
    <td class="col-sm-9"><code>{{agent.agent_id}}</code></td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Address</th>
    <td class="col-sm-9"><code>{{agent.hostname}} ({{agent.addr}})</code></td>
  </tr>
  <tr class="row">
    <th class="col-sm-3">Last Updated</th>
    <td class="col-sm-9"><code>{{format_humanize_naturaltime(agent.timestamp)}}</code></td>
  </tr>
</table>
    <a href="{{url_for('agents.route_delete', agent_id=agent.agent_id)}}"
       class="btn btn-danger">Delete</a>
  </div>
</div>

{% if agent.devices %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Devices</h2>
<table class="table">
{% for dev in agent.devices %}
  <tr class="row">
    <td class="col-sm-1">
{% if dev.state == 'update-blocked' %}
      <span class="fas fa-minus-circle fs-6 text-warning"></span>
{% elif dev.state == 'update-required' %}
      <span class="fas fa-times-circle fs-6 text-danger"></span>
{% else %}
      <span class="fas fa-check-circle fs-6 text-success"></span>
{% endif %}
    </td>
    <td class="col-sm-11">
      <h5>
        <img src="/img/{{dev.icon}}-symbolic.png" width="16"/>
        {{dev.name}} <code>v{{dev.version}}</code>
      </h5>
{% if dev.state == 'uptodate' %}
      <p class="text-secondary">
        No updates need to be applied.
      </p>
{% else %}
      <table class="table">
{% for rel in dev.releases %}
        <tr class="row table-borderless">
{% if rel.blocked_approval %}
          <td class="col-sm-10">
            <p class="text-danger">
              Firmware v{{rel.version}} is currently not approved.
            </p>
          </td>
          <td class="col-sm-2">
            <a href="{{url_for('agents.route_approval_add', agent_id=agent.agent_id, checksum=rel.checksum)}}"
               class="btn btn-primary btn-block">Approve</a>
          </td>
{% elif rel.is_upgrade %}
          <td class="col-sm-10">
            <p class="text-danger">
              Update to v{{rel.version}} is available.
            </p>
{% if dev.needs_reboot %}
            <p class="text-warning">A reboot is required to deploy this update</p>
{% endif %}
          </td>
          <td class="col-sm-2">
            <a href="{{url_for('agents.route_action_add',
                               agent_id=agent.agent_id,
                               fwupd_id=dev.fwupd_id,
                               checksum=rel.checksum)}}"
               class="btn btn-primary btn-block">Schedule</a>
          </td>
{% endif %}
        </tr>
{% endfor %}
      </table>
{% endif %}
  </tr>
{% endfor %}
</table>
  </div>
</div>
{% endif %}

{% endblock %}
