{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <div class="card-title">
    User Agent Downloads
{% if kind == 'APP' %}
    :: Applications
{% elif kind == 'FWUPD' %}
    :: fwupd version
{% elif kind == 'LANG' %}
    :: Client Language
{% elif kind == 'DISTRO' %}
    :: Distribution
{% endif %}
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" crossorigin="anonymous"></script>

<script>
Chart.defaults.global.animation = false;
</script>

<p class="card-text">
This data is also available for the last
<a href="{{url_for('analytics_user_agents', kind=kind, timespan_days=30)}}">1</a>,
<a href="{{url_for('analytics_user_agents', kind=kind, timespan_days=90)}}">3</a>,
<a href="{{url_for('analytics_user_agents', kind=kind, timespan_days=180)}}">6</a>,
and <a href="{{url_for('analytics_user_agents', kind=kind, timespan_days=360)}}">12</a> months.
</p>

<canvas id="metadataChartUserAgents" width="1000" height="600"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
var data = {
    labels: {{labels_user_agent|safe}},

    datasets: [
{% for d in datasets %}
        {
            label: "{{d['label']}}",
            borderColor: "#{{d['color']}}",
            backgroundColor: "#{{d['color']}}",
            fill: false,
            pointRadius: 1,
            data: {{d['data']}}
        },
{% endfor %}
    ]
};
new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            position: 'bottom',
            display: true
        }
    }
});

</script>
{% endblock %}
