{% extends "default.html" %}
{% block title %}Update Category Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Update Category Details</div>
<form method="post" action="{{url_for('.category_modify', category_id=cat.category_id)}}">
  <div class="form-group">
    <label for="group_id">Value:</label>
    <input type="text" class="form-control" name="value" value="{{cat.value}}" required {{'disabled' if not cat.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="display_name">Name:</label>
    <input type="text" class="form-control" name="name" value="{{cat.name if cat.name}}" required {{'disabled' if not cat.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="display_name">Fallbacks:</label>
    <input type="text" class="form-control" name="name" value="{{cat.fallbacks if cat.fallbacks}}" {{'disabled' if not cat.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="expect_device_checksum">
      <input class="checkbox" type="checkbox" name="expect_device_checksum" value="1" {{'checked' if cat.expect_device_checksum}} {{'disabled' if not cat.check_acl('@modify')}}/>
      Expect a device checksum, e.g. a <code>PCR0</code>.
    </label>
  </div>
{% if cat.check_acl('@modify') %}
  <input type="submit" class="btn btn-primary btn-large" value="Modify">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Category?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, categories can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger" href="{{url_for('.category_delete', category_id=cat.category_id)}}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
