<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if page == 'overview' %}active{% endif %}" href="/lvfs/component/{{md.component_id}}">Overview</a>
    </li>
{% if md.assays|length > 0 %}
    <li class="nav-item">
      <a class="nav-link {% if page == 'assays' %}active{% endif %}" href="/lvfs/component/{{md.component_id}}/assays">Tests</a>
    </li>
{% endif %}
{% if md.protocol and md.protocol.can_verify %}
    <li class="nav-item">
      <a class="nav-link {% if page == 'checksums' %}active{% endif %}" href="/lvfs/component/{{md.component_id}}/checksums">Device Checksums</a>
    </li>
{% endif %}
    <li class="nav-item">
      <a class="nav-link {% if page == 'update' %}active{% endif %}" href="/lvfs/component/{{md.component_id}}/update">Update Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page in ['requires', 'requires-advanced'] %}active{% endif %}" href="/lvfs/component/{{md.component_id}}/requires">Requirements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'keywords' %}active{% endif %}" href="/lvfs/component/{{md.component_id}}/keywords">Search Keywords</a>
    </li>
  </ul>
</nav>
