{% extends "default.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
{% if server_warning %}
<div class="alert alert-warning mb-3" role="alert">
  <b>WARNING:</b>{{server_warning}}
</div>
{% endif %}

{% if default_admin_password %}
<div class="alert alert-danger mb-3" role="alert">
  <b>WARNING</b> the default admin password <code>Pa$$w0rd</code> is still in use!
</div>
{% endif %}

<div class="card">
  <div class="card-body rounded-soft bg-gradient">
    <h4 class="text-white">Downloads over the last 30 days</h4>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js" integrity="sha256-t3+U9BqykoMN9cqZmJ5Z53TvPv4V7S9AmjUcIWNNyxo=" crossorigin="anonymous"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas class="rounded" id="metadataChartMonthsDays" width="1618" height="375" role="img"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{labels_days|safe}},
    datasets: [
        {
            label: "Firmware",
            borderWidth: 3,
            borderColor: "rgba(255,255,255,0.8)",
            backgroundColor: "rgba(255,255,255,0.15)",
            data: {{data_days|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
      legend: {
          display: false
      },
      scales: {
        xAxes: [{
          ticks: {
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          },
        }],
        yAxes: [{
          ticks: {
            fontColor: "rgba(255,255,255,0.7)",
            fontStyle: 600,
            beginAtZero: true
          },
          gridLines: {
            color: "rgba(255,255,255,0.1)",
            lineWidth: 1,
          }
        }]
      }
    }
});

</script>

<div class="card-deck mt-3">
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url(/img/corner-1.png);"></div>
    <div class="card-body position-relative">
      <h4>Downloads</h4>
      <p class="card-text">
        {{g.user.vendor.fws|length}} firmware files from {{g.user.vendor.display_name}}
        have been downloaded {{download_cnt}} times!
      </p>
{% if g.user.check_acl('@view-analytics') %}
      <a class="card-link text-nowrap" href="{{url_for('.telemetry')}}">
        Telemetry <span class="font-weight-bold">›</span>
      </a>
{% endif %}
    </div>
  </div>
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url(/img/corner-2.png);"></div>
    <div class="card-body position-relative">
      <h4>Devices</h4>
      <p class="card-text">You have {{devices_cnt}} different devices supported on the LVFS.</p>
      <a class="card-link text-nowrap" href="{{url_for('.firmware')}}">
        See all <span class="font-weight-bold">›</span>
      </a>
    </div>
  </div>
  <div class="card overflow-hidden" style="min-width: 12rem">
    <div class="bg-holder bg-card" style="background-image:url(/img/corner-3.png);"></div>
    <div class="card-body position-relative">
      <h4>Users</h4>
      <p class="card-text">{{g.user.vendor.users|length}} users are in your organisation.</p>
{% if g.user.vendor.check_acl('@manage-users') %}
      <a class="card-link text-nowrap" href="{{url_for('.vendor_users', vendor_id=g.user.vendor.vendor_id)}}">
        Manage <span class="font-weight-bold">›</span>
      </a>
{% endif %}
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">Recently uploaded firmware</h4>
    <div class="table card-body p-0 card-text">
{% for fw in fws_recent %}
  <div class="row table-borderless">
    <div class="col-sm-8 pt-1">
      <h5 class="list-group-item-title">
        {{fw.md_prio.developer_name_display}}
        {{fw.md_prio.name}} -
        <span class="text-muted">{{fw.version_display}}</span>
      </h5>
    </div>
    <div class="col-sm-1 pt-1">
      <img src="/img/symbolic-{{fw.remote.icon_name}}.svg" width="24"
        alt="{{fw.remote.name}}"
        title="{{fw.remote.description}}"/>
{% if fw.problems|length %}
      <img src="/img/symbolic-problem.svg" width="24"
        title="{{fw.problems|length}} problems"/>
{% endif %}
    </div>
    <div class="col-sm-1 pt-1">
      <span class="text-muted">
        <img src="/img/symbolic-download.svg" width="24" alt="download icon"/>
        <span>{{format_humanize_intchar(fw.download_cnt)}}</span>
      </span>
    </div>
    <div class="col-sm-2 text-right pt-1">
      <a class="btn btn-info btn-block"
        href="/lvfs/firmware/{{fw.firmware_id}}">Details</a>
    </div>
  </div>
{% endfor %}
      <a href="{{url_for('.firmware')}}" class="card-link">Show all</a>
    </div>
  </div>
</div>

{% endblock %}
