{% extends "default.html" %}
{% block title %}{{fws[0].md_prio.name if fws else 'No firmware for device found'}}{% endblock %}

{% block nav %}{% include 'device-nav.html' %}{% endblock %}

{% block content %}

{% if fws|length == 0 %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Details</h2>
    <p class="card-text">No firmware is available for this device.</p>
  </div>
</div>

{% else %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Device Details</h2>
<p class="card-text">This page show all the firmware releases for a specific device.</p>
<table class="table card-text">
  <div class="row">
    <div class="col-sm-2">Name</div>
    <div class="col-sm-10">{{fws[0].md_prio.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Summary</div>
    <div class="col-sm-10">{{fws[0].md_prio.summary}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2">Developer Name</div>
  <div class="col-sm-10"><a href="{{fws[0].md_prio.url_homepage}}">{{fws[0].md_prio.developer_name}}</a></div>
  </div>
</table>
  </div>
</div>

{% for fw in fws %}
{% if (g.user is defined and g.user.check_acl('@admin')) or fw.remote.is_public %}
<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">Version {{fw.version_display}}:</h2>
{% if fw.remote.name == 'testing' %}
<p class="card-text">
  <b>Warning:</b> This firmware is in the testing state and may not be suitable for
  production systems.
</p>
{% endif %}
<div class="table card-text">
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Uploaded</div>
    <div class="col-sm-10">{{fw.timestamp}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 font-weight-bold">State</div>
    <div class="col-sm-10">{{fw.remote.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Urgency</div>
    <div class="col-sm-10">{{fw.md_prio.release_urgency}}</div>
  </div>
  <div class="row">
    <div class="col-sm-2 font-weight-bold">License</div>
    <div class="col-sm-10">{{fw.md_prio.project_license}}</div>
  </div>
{% if fw.md_prio.requires_source_url %}
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Source</div>
    <div class="col-sm-10">
      <a href="{{fw.md_prio.source_url}}">{{fw.md_prio.source_url}}</a>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Filename</div>
    <div class="col-sm-10">
{% if fw.inhibit_download %}
      <p class="text-muted">
        The OEM that uploaded this firmware has chosen to disable downloads of
        the firmware when using a web browser.
        End users should use a client such as fwupdmgr to download and deploy
        the firmware.
      </p>
{% else %}
      <a href="/downloads/{{fw.filename}}">{{fw.filename[41:]}}</a>
{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Description</div>
    <div class="col-sm-10">
      {{format_html_from_markdown(fw.md_prio.release_description)|safe}}
{% if fw.md_prio.details_url %}
      <a class="btn" href="{{fw.md_prio.details_url}}">More details</a>
{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 font-weight-bold">Security</div>
    <div class="col-sm-10">
      <ul class="list-group">
{% for attr in fw.security_claim.attrs|sort() %}
        <li class="list-group-item">
{% if not attr.startswith('no') %}
          <img src="/img/tick.svg" width="32" alt="Yes"/>
{% else %}
          <img src="/img/cross.svg" width="32" alt="No"/>
{% endif %}
          {{fw.security_claim.attrs[attr]}}
        </li>
{% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}

{% block breadcrumb %}{% include 'device-breadcrumb.html' %}{% endblock %}
