{% extends "default.html" %}

{% block title %}MetaInfo Files : Update Category{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Update Category</div>
<p class="card-text">
  By telling the LVFS the firmware category to use for the component the front end can
  correctly translate the update type in the UI.
  Also for this reason, <code>.metainfo.xml</code> files <strong>should not</strong>
  include the words <code>ME</code>, <code>EC</code>, <code>BIOS</code>, <code>Firmware</code>,
  <code>Device</code> or <code>Update</code> in the component name and they will
  be removed if included.
</p>
<p class="card-text">
  The component category can be set as part of the <code>metainfo.xml</code> file
  or set from the LVFS web console.
  Most users will want to include the extra metadata to make the upload process
  quicker for QA engineers.
  To do this, add this to the metainfo file:
</p>
<pre>
  &lt;categories&gt;
    &lt;category&gt;some-value-here&lt;/category&gt;
  &lt;/categories&gt;
</pre>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">Allowed Category Values</div>
<table class="table card-text">
  <tr class="row table-borderless">
    <th class="col col-sm-5">Value</th>
    <th class="col col-sm-5">Displayed Name</th>
  </tr>
{% for cat in categories %}
  <tr class="row">
    <td class="col col-sm-5"><code>{{cat.value}}</code></td>
    <td class="col col-sm-5">{{cat.name}}</td>
  </tr>
{% endfor %}
</table>
  </div>
</div>

{% endblock %}
