{% extends "default.html" %}

{% block title %}MetaInfo Files : Update Protocol{% endblock %}

{% block content %}
<h2>Update Protocol</h2>
<p>
  The LVFS needs to know what protocol is being used to flash the device.
  The protocol value is used to provide information about the security of the
  firmware update to end users.
</p>
<p>
  The update protocol can be set as part of the <code>metainfo.xml</code> file
  or set from the LVFS web console.
  Most users will want to include the extra metadata to make the upload process
  quicker for engineers.
  To do this, add this to the metainfo file:
</p>
<pre>
  &lt;custom&gt;
    &lt;value key="LVFS::UpdateProtocol"&gt;some-value-here&lt;/value&gt;
  &lt;/custom&gt;
</pre>
<p>
  Allowed values for <code>LVFS::UpdateProtocol</code> are currently:
</p>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Value</th>
    <th class="col-sm-5">Name</th>
    <th class="col-sm-1">Signed?</th>
    <th class="col-sm-1">Header?</th>
  </tr>
{% for pr in protocols %}
{% if pr.is_public %}
  <tr class="row">
    <td class="col-sm-3"><code>{{pr.value}}</code></td>
    <td class="col-sm-5">{{pr.name}}</td>
    <td class="col-sm-1">{{'Yes' if pr.is_signed else 'No'}}</td>
    <td class="col-sm-1">
{% if pr.has_header %}
      <a href="#{{pr.value}}">Yes</a>
{% else %}
      No
{% endif %}
    </td>
  </tr>
{% endif %}
{% endfor %}
</table>

<h2>Firmware Formats</h2>
<p>
  When a firmware format is set in the <code>metainfo.xml</code> file
  various tests are performed on the firmware.
  This includes checking file headers, magic numbers or CRCs for the chosen
  update protocol.
</p>
<p>
  The update protocol can be changed on the LVFS website, and the correct tests
  will be run automatically.
  Firmware that has unresolved test failures cannot be pushed to the
  <code>testing</code> or <code>stable</code> remotes.
  For some tests the failure can be <em>waived</em> by a QA user.
</p>

<div class="card-deck mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a id="org.uefi.capsule"></a>UEFI Capsule Tests</h4>
      <p class="card-text">
        Capsule updates should be uploaded with a valid <code>CAPSULE_HEADER</code>
        that contains a GUID listed in the <code>metainfo.xml</code> file.
      </p>
      <p class="card-text">
        For reference, the UEFI capsule header is defined like this:
      </p>
      <pre class="card-text">
typedef struct {
    EFI_GUID   CapsuleGuid;
    UINT32     HeaderSize;
    UINT32     Flags;
    UINT32     CapsuleImageSize;
} EFI_CAPSULE_HEADER;
      </pre>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><a id="org.usb.dfu">DFU Capsule Tests</h4>
      <p class="card-text">
        DFU updates must be uploaded with a valid <code>UFD</code> footer
        that matches the device revision number with a correct CRC value.
      </p>
      <p class="card-text">
        Additional metadata can also be specified using this
        <a href="https://raw.githubusercontent.com/hughsie/fwupd/master/docs/dfu-metadata-store.md">
        specification</a>.
      </p>
      <p class="card-text">
        <code>dfu-tool</code> from the <code>fwupd</code> project can convert
        a <em>raw</em> firmware image to include a DFU header, for example:
      </p>
      <pre class="card-text">
$ dfu-tool convert dfu old.raw new.dfu
$ dfu-tool set-vendor new.dfu 0xabcd
$ dfu-tool set-product new.dfu 0x1234
      </pre>
    </div>
  </div>
</div>

<h2>Firmware Signing</h2>
<p>
  Any processor better than the most basic PIC or Arduino is capable of doing
  public/private key firmware signing.
  This would use standard crypto using X.509 keys or GPG to ensure the device
  only runs signed firmware from the original vendor.
  This is the industry recommended practice for firmware updates.
</p>

<h2>Attestation of UEFI Firmware</h2>
<p>
  Although the firmware capsule is signed by the OEM or ODM, we can’t reliably
  read the SPI EEPROM from userspace.
  We can get a hash of the firmware, or rather, a hash derived from the firmware.
  This is stored in the TPM chip as <code>PCR0</code>.
</p>
<p>
  To list the various <code>PCRs</code> on the running system you can use
  <code>cat /sys/class/tpm/tpm0/pcrs</code> for TPMs using protocol 1.2, or
  <code>tpm2_listpcrs</code> for TPMs using later protocol versions.
  The PCR0 can be included in the vendor-supplied <code>firmware.metainfo.xml</code>:
</p>
<pre>
    &lt;releases&gt;
      &lt;release date="2019-01-08" urgency="high" version="1.2.3"&gt;
        &lt;checksum type="sha1" target="device"&gt;ce7dd93006be33bcce1a1965cb69634bd0a0fe35&lt;/checksum&gt;
        &lt;checksum type="sha256" target="device"&gt;c479988947653b403d6a4ebe366cc60eaf7b6e147bd058fb524be418890655c9&lt;/checksum&gt;
      &lt;/release&gt;
    &lt;/releases&gt;
</pre>
<p>
  Multiple possible device checksums can also be set using the admin console of
  the LVFS:
</p>
<figure class="text-center">
  <img src="/img/component-checksums.png" class="p-3 border border-info rounded figure-img img-fluid" alt="component checksum">
  <figcaption class="figure-caption">
    Adding PCR0 checksums to a component for attestation.
  </figcaption>
</figure>

{% endblock %}
