{% extends "default.html" %}

{% block title %}MetaInfo Files{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">MetaInfo Files</h2>
<p class="card-text">
  The <code>.metainfo.xml</code> file describes the device and firmware and
  is extra metadata added to the firmware archive by the OEM or ODM.
  The file is XML format, and uses a subset of the
  <a href="http://www.freedesktop.org/software/appstream/docs/sect-Quickstart-Addons.html">AppStream</a> component specification.
</p>
<p class="card-text">
An example <code>metainfo.xml</code> file looks like this:
</p>
<pre class="prettyprint">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!-- Copyright 2018 Richard Hughes &lt;richard@hughsie.com&gt; --&gt;
&lt;component type="firmware"&gt;
  &lt;id&gt;com.hughski.ColorHugALS.firmware&lt;/id&gt;
  &lt;name&gt;ColorHugALS&lt;/name&gt;
  &lt;summary&gt;Firmware for the Hughski ColorHug Ambient Light Sensor&lt;/summary&gt;
  &lt;description&gt;
    &lt;p&gt;
      Updating the firmware on your ColorHugALS device improves performance and
      adds new features.
    &lt;/p&gt;
  &lt;/description&gt;
  &lt;provides&gt;
    &lt;firmware type="flashed"&gt;84f40464-9272-4ef7-9399-cd95f12da696&lt;/firmware&gt;
  &lt;/provides&gt;
  &lt;url type="homepage"&gt;http://www.hughski.com/&lt;/url&gt;
  &lt;metadata_license&gt;CC0-1.0&lt;/metadata_license&gt;
  &lt;project_license&gt;proprietary&lt;/project_license&gt;
  &lt;developer_name&gt;Hughski Limited&lt;/developer_name&gt;
  &lt;releases&gt;
    &lt;release urgency="high" version="3.0.2" date="2017-02-09" install_duration="120"&gt;
    &lt;checksum filename="my-custom-name.bin" target="content"/&gt;
      &lt;description&gt;
        &lt;p&gt;This stable release fixes the following bugs:&lt;/p&gt;
        &lt;ul&gt;
          &lt;li&gt;Fix the return code from GetHardwareVersion&lt;/li&gt;
          &lt;li&gt;Scale the output of TakeReadingRaw by the datasheet values&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/description&gt;
    &lt;/release&gt;
  &lt;/releases&gt;
  &lt;!-- we can optionally restrict this update to specific fwupd versions,
       or even previous firmware or bootloader versions --&gt;
  &lt;requires&gt;
    &lt;id compare="ge" version="0.8.0"&gt;org.freedesktop.fwupd&lt;/id&gt;
    &lt;firmware compare="ge" version="0.1.2"/&gt;
    &lt;firmware compare="ge" version="0.3.4"&gt;bootloader&lt;/firmware&gt;
  &lt;/requires&gt;
  &lt;!-- these keywords are optional and are used for searching --&gt;
  &lt;keywords&gt;
    &lt;keyword&gt;bios&lt;/keyword&gt;
    &lt;keyword&gt;dfu&lt;/keyword&gt;
  &lt;/keywords&gt;
&lt;/component&gt;
</pre>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title"><a id="guids"></a>Which GUID Do I Use?</h2>
<p class="card-text">
  GUID means 'Globally Unique Identifier' and is a 128-bit integer number used
  to identify a device.
  GUIDs are often formatted as strings such as <code>84f40464-9272-4ef7-9399-cd95f12da696</code>.
  Another name for GUID is UUID ('Universally Unique Identifier') and the two
  terms can be used interchangably.
</p>
<p class="card-text">
  In fwupd the GUID is generated from the <code>DeviceInstanceId</code> strings,
  so for a single USB device the GUIDs would be generated like this:
</p>
<pre>
$ python
>>> import uuid
>>> print uuid.uuid5(uuid.NAMESPACE_DNS, 'USB\VID_0A5C&amp;PID_6412&amp;REV_0001')
52fd36dc-5904-5936-b114-d98e9d410b25
>>> print uuid.uuid5(uuid.NAMESPACE_DNS, 'USB\VID_0A5C&amp;PID_6412')
7a1ba7b9-6bcd-54a4-8a36-d60cc5ee935c
>>> print uuid.uuid5(uuid.NAMESPACE_DNS, 'USB\VID_0A5C')
ddfc8e56-df0d-582e-af12-c7fa171233dc
</pre>
</p>
  or, using <a href="https://github.com/hughsie/appstream-glib">appstream-glib</a>:
</p>
<pre>
$ appstream-util generate-guid "USB\VID_0A5C&amp;PID_6412&amp;REV_0001"
52fd36dc-5904-5936-b114-d98e9d410b25
</pre>
<p class="card-text">
  This allows the vendor to choose the GUID for what should match; to match on
  the <code>vendor+product+revision</code> you'd choose the first one, and the
  <code>vendor+device</code> you would use the second.
  We only really use the third GUID for fixing a vendor name, or other very
  broad quirks that apply to all USB devices from a specific vendor.
</p>
<p class="card-text">
  In the case for PCI devices and other technologies like NVMe, you can dump
  the GUIDs generated by fwupd using this tool:
</p>
<pre>
sudo /usr/libexec/fwupd/fwupdtool --plugin-whitelist nvme get-devices --verbose
...
using e22c4520-43dc-5bb3-8245-5787fead9b63 for NVME\VEN_1179&amp;DEV_010F&amp;REV_01
using 83991323-9951-5adf-b743-d93e882a41e1 for NVME\VEN_1179&amp;DEV_010F
using ad9fe8f7-cdc4-52c9-9fea-31b6f4988ffa for NVME\VEN_1179
...
</pre>
<p class="card-text">
  More details about the GUID generation scheme used in each plugin can be found
  in the <code>README.md</code> file in each
  <a href="https://github.com/hughsie/fwupd/tree/master/plugins">plugin directory</a>.
</p>
  </div>
</div>

<div class="card mt-3">
  <h3 class="card-header list-group-item-info">Can I match more than one GUID?</h3>
  <div class="card-body">
    <p class="card-text">
      Metainfo files can contain as many lines of
      <code>&lt;firmware type="flashed"&gt;</code>
      as required and any device with any of the GUIDs will match the firmware file.
    </p>
  </div>
</div>
{% endblock %}
