<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if page == 'intro' %}active{% endif %}" href="{{url_for('.docs_metainfo')}}">Introduction</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'restrict' %}active{% endif %}" href="{{url_for('.docs_metainfo', page='restrict')}}">Adding Restrictions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'protocol' %}active{% endif %}" href="{{url_for('.docs_metainfo', page='protocol')}}">Update Protocol</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'version' %}active{% endif %}" href="{{url_for('.docs_metainfo', page='version')}}">Version Format</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'urls' %}active{% endif %}" href="{{url_for('.docs_metainfo', page='urls')}}">URLs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == 'style' %}active{% endif %}" href="{{url_for('.docs_metainfo', page='style')}}">Style Guide</a>
    </li>
  </ul>
</nav>
