{% extends "default.html" %}

{% block title %}MetaInfo Files : Update Protocol{% endblock %}

{% block nav %}{% include 'docs-metainfo-nav.html' %}{% endblock %}

{% block content %}
<p>
  The LVFS needs to know what protocol is being used to flash the device.
  The protocol value is used to provide information about the security of the
  firmware update to end users.
</p>
<p>
  The update protocol can be set as part of the <code>metainfo.xml</code> file
  or set from the LVFS web console.
  Most users will want to include the extra metadata to make the upload process
  quicker for engineers.
  To do this, add this to the metainfo file:
</p>
<pre>
  &lt;custom&gt;
    &lt;value key="LVFS::UpdateProtocol"&gt;some-value-here&lt;/custom&gt;
  &lt;/custom&gt;
</pre>
<p>
  Allowed values for <code>LVFS::UpdateProtocol</code> are currently:
</p>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-3">Value</th>
    <th class="col-sm-5">Name</th>
    <th class="col-sm-1">Signed?</th>
  </tr>
{% for pr in protocols %}
{% if pr.is_public %}
  <tr class="row">
    <td class="col-sm-3"><code>{{pr.value}}</code></td>
    <td class="col-sm-5">{{pr.name}}</td>
    <td class="col-sm-1">{{'Yes' if pr.is_signed else 'No'}}</td>
  </tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}
