{% extends "default.html" %}

{% block title %}MetaInfo Files : URLs{% endblock %}

{% block nav %}{% include 'docs-metainfo-nav.html' %}{% endblock %}

{% block content %}

<h3>Source Requirements</h3>
<p>
  If a vendor is distributing GPL licensed firmware on the LVFS then they should
  include a source URL in the <code>releases</code> section in the metainfo file.
  This should point to the release-specific source code that can be used to
  rebuild the binary from the code, for instance:
</p>
<pre>
  &lt;project_license&gt;GPL-2.0+&lt;/project_license&gt;
  &lt;release urgency="low" version="1.2.6" &gt;
    &lt;url type="source"&gt;https://github.com/hughski/colorhug1-firmware/releases/tag/1.2.6&lt;/url&gt;
  &lt;/release&gt;
</pre>
<p>
  GPL firmware without source information can not be moved to testing or stable.
  You can also edit or add the source URL in the existing <em>Update Details</em>
  section in the component view:
</p>
<figure class="text-center">
  <img src="/img/release-source-url.png" class="p-3 border border-info rounded figure-img img-fluid" alt="component source URL">
</figure>

<h3>Further Details</h3>
<p>
  There are currently quite strict limits on the format of the release
  description included in the <code>description</code> part of the metainfo,
  or edited on the LVFS.
  For instance, OEMs are not allowed to include links within the text and have
  to adhere to a limiting style guide.
  As a workaround, all firmware can now specify an additional url:
</p>
<pre>
  &lt;release&gt;
    &lt;url type="details"&gt;https://www.hughski.com/releases/colorhug1/1_2_6.pdf&lt;/url&gt;
  &lt;/release&gt;
</pre>
<p>
  This should point to a website page or PDF description of the <b>specific</b>
  release.
  This would allow vendors to provide more information about specific CVEs or
  provide more technical information mentioned in the update details.
  Whist the update details should still be considered the "primary" method to
  convey information about the firmware release, the URL may be useful for larger
  OEMS.
</p>
{% endblock %}
