{% extends "default.html" %}

{% block title %}MetaInfo Files : Version Format{% endblock %}

{% block content %}
<h2>Version Format</h2>
<p>
  Some hardware returns the version number as a string such as
  <code>1.23.4567</code>, and this is easily handled as a <a href="https://semver.org/">semantic version</a>.
  In other cases we are not so lucky, and the hardware returns a <code>uint16_t</code> or <code>uint32_t</code>
  with no extra metadata about how it should be formatted.
  This lack of specification precision means that different vendors have chosen
  to convert the large integer number to various different forms:
</p>
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">ID</th>
    <th class="col-sm-2">Example</th>
    <th class="col-sm-6">Description</th>
    <th class="col-sm-2">fwupd supported</th>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>plain</code></td>
    <td class="col-sm-2"><code>12345678</code></td>
    <td class="col-sm-6">Plain integer</td>
    <td class="col-sm-2"><code>&gt;=1.2.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>pair</code></td>
    <td class="col-sm-2"><code>1234.5678</code></td>
    <td class="col-sm-6">Two large numbers</td>
    <td class="col-sm-2"><code>&gt;=1.2.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>triplet</code></td>
    <td class="col-sm-2"><code>12.34.5678</code></td>
    <td class="col-sm-6">Microsoft-style</td>
    <td class="col-sm-2"><code>&gt;=1.1.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>quad</code></td>
    <td class="col-sm-2"><code>12.34.56.78</code></td>
    <td class="col-sm-6">Dell-style</td>
    <td class="col-sm-2"><code>&gt;=1.1.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>intel-me</code></td>
    <td class="col-sm-2"><code>12.2.34.5678</code></td>
    <td class="col-sm-6">Intel ME-style, with bitshift</td>
    <td class="col-sm-2"><code>&gt;=1.2.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>intel-me2</code></td>
    <td class="col-sm-2"><code>1.2.34.5678</code></td>
    <td class="col-sm-6">Intel ME-style</td>
    <td class="col-sm-2"><code>&gt;=1.2.0</code></td>
  </tr>
  <tr class="row">
    <td class="col-sm-2"><code>bcd</code></td>
    <td class="col-sm-2"><code>1.2</code></td>
    <td class="col-sm-6">Binary coded decimal</td>
    <td class="col-sm-2"><code>&gt;=1.1.0</code></td>
  </tr>
</table>
<p>
  To override the default of <code>triplet</code> vendors can ship extra metadata
  in the <code>metainfo.xml</code> file:
</p>
<pre>
  &lt;!-- most devices do not need to do this... --&gt;
  &lt;requires&gt;
    &lt;id compare="ge" version="1.2.0"&gt;org.freedesktop.fwupd&lt;/id&gt;
  &lt;/requires&gt;
  &lt;custom&gt;
    &lt;value key="LVFS::VersionFormat"&gt;intel-me&lt;/value&gt;
  &lt;/custom&gt;
</pre>
<p>
  Various security teams also want us to always show the device firmware version
  with the correct format, even if an update is not available.
  This may be for audit reasons, or just so customers know the version of the
  firmware compared to release notes written for another operating system.
  For instance, if the vendor release notes says the firmware should be any
  version above <code>39.0.45.x</code> (formatted as a quad) and the user is running
  <code>39.0.11522</code> (formatted as a triplet) it is not clear to the user what to do.
</p>
<p>
  To change from the default <code>triplet</code> version format we can set
  a fwupd <em>quirk </em>on the hardware device.
  For instance, changing the UEFI
  <a href="https://github.com/hughsie/fwupd/blob/master/plugins/uefi/uefi.quirk">Lenovo ME device</a>
  to use the <code>intel-me</code> format.
  Quirk files can be added upstream for future fwupd versions, or simply copied to
  <code>/usr/share/fwupd/quirks.d</code>.
  The fwupd daemon will detect the new file and refresh devices as required.
</p>

{% endblock %}
