{% extends "default.html" %}
{% block title %}Event Log{% endblock %}

{% block content %}

<div class="list-group">
{% for e in events %}
  <div class="list-group-item list-group-item-action {{'list-group-item-warning' if e.is_important}}">
    <h4>{{e.message}}</h4>
    <p class="text-secondary">
{% if e.user.username != 'anon@fwupd.org' %}
      {{e.user.username}}
{% else %}
      Anonymous user
{% endif %}
{% if e.request and e.request != '/' %}
      called <code>{{e.request}}</code>
{% endif %}
      {{format_humanize_naturaltime(e.timestamp)}}
{% if e.address != '127.0.0.1' %}
      from <code>{{e.address}}</code>
{% endif %}
      </p>
  </div>
{% endfor %}
</div>

<ul class="pagination mt-3">
{% if start >= page_length %}
  <li class="page-item">
    <a class="page-link" href="/lvfs/eventlog/{{start-page_length}}/{{page_length}}" tabindex="-1">Previous</a>
  </li>
{% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" tabindex="-1">Previous</a>
  </li>
{% endif %}
{% for page in range(total_length // page_length) %}
{% if start / page_length == page %}
  <li class="page-item active">
    <a class="page-link" href="#!">{{page+1}} <span class="sr-only">(current)</span></a>
  </li>
{% else %}
  <li class="page-item"><a class="page-link" href="/lvfs/eventlog/{{page*page_length}}/{{page_length}}">{{page+1}}</a></li>
{% endif %}
{% endfor %}
  <li class="page-item">
    <a class="page-link" href="/lvfs/eventlog/{{start+page_length}}/{{page_length}}">Next</a>
  </li>
</ul>
{% endblock %}
