{% extends "default.html" %}
{% block title %}Firmware Components{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% for md in fw.mds|sort(attribute='priority',reverse=True) %}
<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">{{md.name_with_category}}</h4>
    <table class="table card-text table-borderless">
      <tr class="row">
        <th class="col-sm-3">Version</th>
        <td><code>{{md.version_display}}</code></td>
      </tr>
      <tr class="row">
        <th class="col-sm-3">AppStream ID</th>
        <td><code>{{md.appstream_id}}</code></td>
      </tr>
    </table>
    <a class="card-link btn btn-info" href="{{url_for('.firmware_component_show', component_id=md.component_id)}}">Details</a>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
