{% extends "default.html" %}
{% block title %}Firmware Tests{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}
{% if fw.tests|length == 0 %}
<div class="card">
  <div class="card-body">
    <div class="card-title">Tests</div>
    <p class="card-text">
      No tests are required.
    </p>
  </div>
</div>
{% endif %}

{% for test in fw.tests %}
<div class="card mb-3">
  <div class="card-header card-title list-group-item-{{test.color}}">{{test.plugin_id}}</div>
  <div class="card-body">
{% if test.waived_ts %}
    <p class="card-text">
      Waived by <code>{{test.waived_user.username}}</code>
    </p>
{% endif %}
    <ul class="card-text">
{% if test.is_pending %}
        <p class="">Test is pending…</p>
{% elif test.is_running %}
        <p class="">Test is running since {{test.started_ts}}…</p>
{% endif %}
{% for attr in test.attributes %}
      <li class="list-group-item">
        <code>{{attr.title}}: {{attr.message}}</code>
      </li>
{% endfor %}
    </ul>
{% if not test.success and test.started_ts and test.check_acl('@retry') %}
      <a class="card-link btn btn-info"
         href="{{url_for('.test_retry', test_id=test.test_id)}}"
         role="button">Retry</a>
{% endif %}
{% if not test.success and test.ended_ts and test.waivable and not test.waived_ts and test.check_acl('@waive') %}
      <a class="card-link btn btn-warning"
         href="{{url_for('.test_waive', test_id=test.test_id)}}"
         role="button">Waive</a>
{% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}

{% block breadcrumb %}{% include 'firmware-breadcrumb.html' %}{% endblock %}
