{% extends "default.html" %}
{% block title %}Issues{% endblock %}

{% block content %}

{% if issues|length == 0 %}
<p class="card-text">
  No issues have been created.
</p>
{% endif %}

{% for issue in issues %}
<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      {{issue.name}} {{issue.group_id}}
      <a href="{{issue.url}}">[link]</a>
{% if not issue.enabled %}
      <span class="text-secondary">[disabled]</span>
{% endif %}
    </div>
    <p class="card-text">{{issue.description}}</p>
    <a class="btn btn-info card-link" href="{{url_for('.issue_details', issue_id=issue.issue_id)}}" role="button">Details &raquo;</a>

{% if issue.check_acl('@modify') %}
    <!-- {{issue.priority}} -->
    <div class="btn-group float-right" role="group">
{% if issue == issues[0] %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('.issue_priority', issue_id=issue.issue_id, op='down')}}">▼</a>
{% elif issue == issues[issues|length-1] %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('.issue_priority', issue_id=issue.issue_id, op='up')}}">▲</a>
{% else %}
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('.issue_priority', issue_id=issue.issue_id, op='up')}}">▲</a>
      <a class="btn btn-sm btn-outline-dark" href="{{url_for('.issue_priority', issue_id=issue.issue_id, op='down')}}">▼</a>
{% endif %}
    </div>
{% endif %}
  </div>
</div>
{% endfor %}

<div class="card">
  <div class="card-body">
    <div class="card-title">Create a new issue</div>
    <div class="card-text">
    <form method="post" action="{{url_for('issue_add')}}" class="form">
      <div class="form-group">
        <label for="url">Issue URL</label>
        <input class="form-control" id="url" type="text" name="url">
      </div>
      <input class="btn btn-primary card-link" type="submit" value="Add">
    </form>
    </div>
  </div>
</div>
{% endblock %}
