{% extends "default.html" %}
{% block title %}User Client Certificates{% endblock %}

{% block nav %}{% include 'profile-nav.html' %}{% endblock %}

{% block content %}
{% if g.user.certificates|length == 0 %}
<p class="text-muted">
  No client certificates have been uploaded for this user.
</p>
{% else %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-2">Added</th>
    <th class="col-sm-8">Signature</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for crt in g.user.certificates %}
  <tr class="row">
    <td class="col-sm-2">{{crt.ctime}}</td>
    <td class="col-sm-8"><code>{{crt.serial}}</code></td>
    <td class="col-sm-2">
      <a class="btn btn-danger btn-block"
         href="{{url_for('.user_certificate_remove',
                         certificate_id=crt.certificate_id)}}">Remove</a>
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}

<form method="post" enctype="multipart/form-data" action="{{url_for('.user_certificate_add')}}" id="form">
  <label class="btn btn-primary">
    Upload Certificate
    <input type="file" id="file" name="file" hidden>
  </label>
</form>

<script>
// one click upload button
document.getElementById("file").onchange = function() {
    document.getElementById("form").submit();
}
</script>

<div class="card mt-3">
  <h3 class="card-header list-group-item-info">Where can I find the client certificate?</h3>
  <div class="card-body">
    <p class="card-text">
      The <code>/var/lib/fwupd/pki/client.pem</code> file is automatically
      created when using fwupd 1.2.6 or newer.
    </p>
  </div>
</div>

{% endblock %}
