{% extends "default.html" %}
{% block title %}Report {{rpt.report_id}}{% endblock %}

{% block content %}
<table class="table">
  <tr class="row table-borderless">
    <th class="col-sm-5">Key</th>
    <th class="col-sm-5">Value</th>
    <th class="col-sm-2">&nbsp;</th>
  </tr>
{% for rattr in rpt.attributes|sort(attribute='key') %}
  <tr class="row">
    <td class="col-sm-5"><code>{{rattr.key}}</code></td>
    <td class="col-sm-5"><code>{{rattr.value}}</code></td>
  </tr>
{% endfor %}
</table>
{% endblock %}
