{% extends "default.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <form class="form" method="post" action="{{url_for('.settings_modify', plugin_id=plugin_id)}}">

{% for plugin in loader_plugins %}
{% if plugin.id == plugin_id %}
    <div class="card-title">{{plugin.name()}}</div>
    <p class="card-text">{{plugin.summary()}}</p>
{% for s in plugin.settings() %}
    <div class="form-group">
{% if s.__class__.__name__ == 'PluginSettingBool' %}
      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="{{s.key}}"
          name="{{s.key}}" value="enabled" {{'checked' if settings[s.key] == 'enabled'}}/>
        <label class="custom-control-label" for="{{s.key}}">
          {{s.name}}
        </label>
      </div>
      <input type="hidden" name="{{s.key}}" value="disabled"/>
{% elif s.__class__.__name__ == 'PluginSettingTextList' %}
      <label>{{s.name}}</label>
      <textarea type="text" class="form-control" name="{{s.key}}" rows="10">{{settings[s.key].replace(',', '\n')}}</textarea>
{% else %}
      <label>{{s.name}}</label>
      <input type="text" class="form-control" name="{{s.key}}" value="{{settings[s.key]}}">
{% endif %}
    </div>
{% endfor %}
{% endif %}
{% endfor %}
    <input type="submit" class="card-link btn btn-primary" value="Modify">
  </form>
  </div>
</div>
{% endblock %}
