{% extends "default.html" %}
{% block title %}Settings{% endblock %}

{% block nav %}
<nav>
  <div class="text-center mb-3">
    <div class="btn-group" role="group">
{% for plugin in plugins %}
      <a class="btn btn-falcon-{{'primary' if plugin_id == plugin.id else 'default'}}"
        href="{{url_for('.settings_view', plugin_id=plugin.id)}}">{{plugin.name()}}</a>
{% endfor %}
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
  <form class="form" method="post" action="/lvfs/settings/modify/{{plugin_id}}">

{% for plugin in plugins %}
{% if plugin.id == plugin_id %}
    <h3 class="card-title">{{plugin.name()}}</h3>
    <p class="card-text">{{plugin.summary()}}</p>
{% for s in plugin.settings() %}
    <div class="form-group">
{% if s.__class__.__name__ == 'PluginSettingBool' %}
      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="{{s.key}}"
          name="{{s.key}}" value="enabled" {{'checked' if settings[s.key] == 'enabled'}}/>
        <label class="custom-control-label" for="{{s.key}}">
          {{s.name}}
        </label>
      </div>
      <input type="hidden" name="{{s.key}}" value="disabled"/>
{% else %}
      <label>{{s.name}}</label>
      <input type="text" class="form-control" name="{{s.key}}" value="{{settings[s.key]}}">
{% endif %}
    </div>
{% endfor %}
{% endif %}
{% endfor %}
    <input type="submit" class="card-link btn btn-primary" value="Modify">
  </form>
  </div>
</div>
{% endblock %}
