{% extends "default.html" %}
{% block title %}Telemetry{% endblock %}

{% block content %}

{% if fws|length > 0 %}
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">
      Telemetry for group {{group_id}}
    </div>
    <p class="card-text">
      Only firmware that has been downloaded at least once will be shown here.
    </p>
{% if sort_direction != 'up' %}
    <a class="card-link btn btn-sm btn-info" href="{{url_for('.telemetry', age=age, sort_key=sort_key, sort_direction='up')}}">
      Sort ▼
    </a>
{% endif %}
{% if sort_direction != 'down' %}
    <a class="card-link btn btn-sm btn-info" href="{{url_for('.telemetry', age=age, sort_key=sort_key, sort_direction='down')}}">
      Sort ▲
    </a>
{% endif %}
  </div>
</div>
{% endif %}

{% if fws|length > 0 %}
{% for fw in fws %}
<div class="card mt-3">
  <div class="card-header card-title list-group-item-{{fw.color}}">
    <div class="row">
      <div class="col col-lg-8 text-truncate">
        {{fw.names|join(' & ')}}
      </div>
      <div class="col">
        <code class="float-right">{{fw.version_display}}</code>
      </div>
    </div>
{% if fw.remote.name == 'testing' %}
    <span class="badge badge-secondary">testing</span>
{% endif %}
  </div>
  <div class="card-body">
    <table class="card-text table table-borderless">
      <tr class="row">
        <th class="col">Downloads</th>
        <td class="col">{{fw.download_cnt}}</td>
      </tr>
      <tr class="row">
        <th class="col">Success reports</th>
        <td class="col">{{fw.report_success_cnt}}</td>
      </tr>
      <tr class="row">
        <th class="col">Failed reports</th>
        <td class="col">{{fw.report_failure_cnt}}</td>
      </tr>
      <tr class="row">
        <th class="col">Known issues</th>
        <td class="col">{{fw.report_issue_cnt}}</td>
      </tr>
    </table>
{% if fw.mds|length > 1 %}
    <p class="card-text">
      Contains firmware for more than one machine.
    </p>
{% endif %}
    <a class="card-link btn btn-sm btn-info" href="{{url_for('.firmware_show', firmware_id=fw.firmware_id)}}">
      Details
    </a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="card mt-3">
  <div class="card-body">
    <p class="card-text text-secondary">
      No firmware analytics available.
    </p>
  </div>
</div>
{% endif %}

{% endblock %}
