{% extends "default.html" %}
{% block title %}Runtime Tests{% endblock %}

{% block content %}
{% if plugin_ids|length > 0 %}
{% for plugin_id in plugin_ids %}
<div class="card mt-3">
  <div class="card-body">
    <h3 class="card-title">{{plugins[plugin_id].name()}}</h3>
<p class="text-secondary">{{plugins[plugin_id].summary()}}</p>
<table class="table">
{% if tests_pending[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col-sm-3">Pending</th>
    <td class="col-sm-3">{{tests_pending[plugin_id]|length}}</td>
  </tr>
{% endif %}
{% if tests_running[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col-sm-3">Running</th>
    <td class="col-sm-3">{{tests_running[plugin_id]|length}}</td>
    <td class="col-sm-2">
{% endif %}
{% if tests_running[plugin_id]|length > 0 %}
      <a class="btn btn-small btn-block btn-outline-danger" href="{{url_for('.test_retry_all', plugin_id=plugin_id)}}">Retry all</a>
{% endif %}
    </td>
  </tr>
  <tr class="row table-borderless">
    <th class="col-sm-3">Success</th>
    <td class="col-sm-3">{{tests_success[plugin_id]|length}}</td>
    <td class="col-sm-2">
{% if tests_success[plugin_id]|length > 0 %}
      <a class="btn btn-small btn-block btn-outline-danger" href="{{url_for('.test_delete_all', plugin_id=plugin_id)}}">Delete all</a>
{% endif %}
    </td>
  </tr>
  <tr class="row table-borderless">
    <th class="col-sm-3">Failures</th>
    <td class="col-sm-3">{{tests_failed[plugin_id]|length}}</td>
    <td class="col-sm-2">
{% if tests_failed[plugin_id]|length > 0 %}
      <a class="btn btn-small btn-block btn-outline-danger" href="{{url_for('.test_waive_all', plugin_id=plugin_id)}}">Waive all</a>
{% endif %}
    </td>
  </tr>
{% if tests_waived[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col-sm-3">Waived</th>
    <td class="col-sm-3">{{tests_waived[plugin_id]|length}}</td>
  </tr>
{% endif %}
</table>
  </div>
</div>
{% endfor %}

{% else %}
<p class="text-secondary">
  No tests exist.
</p>
{% endif %}

{% endblock %}
