<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_overview' %}active{% endif %}" href="{{url_for('.test_overview')}}">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_pending' %}active{% endif %}" href="{{url_for('.test_pending')}}">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_running' %}active{% endif %}" href="{{url_for('.test_running')}}">Running</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_failed' %}active{% endif %}" href="{{url_for('.test_failed')}}">Failed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_waived' %}active{% endif %}" href="{{url_for('.test_waived')}}">Waived</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.url_rule.endpoint == 'test_recent' %}active{% endif %}" href="{{url_for('.test_recent')}}">Recent</a>
    </li>
  </ul>
</nav>
