{% extends "default.html" %}
{% block title %}Runtime Tests{% endblock %}

{% block content %}
{% if plugin_ids|length > 0 %}
{% for plugin_id in plugin_ids %}
<div class="card mt-3">
  <div class="card-body">
    <div class="card-title">{{plugins[plugin_id].name}}</div>
<p class="text-secondary">{{plugins[plugin_id].summary}}</p>
<table class="table">
{% if tests_pending[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Pending</th>
    <td class="col col-sm-3">{{tests_pending[plugin_id]|length}}</td>
  </tr>
{% endif %}
{% if tests_running[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Running</th>
    <td class="col">{{tests_running[plugin_id]|length}}</td>
    </td>
  </tr>
{% endif %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Success</th>
    <td class="col">{{tests_success[plugin_id]|length}}</td>
  </tr>
  <tr class="row table-borderless">
    <th class="col col-sm-3">Failures</th>
    <td class="col">{{tests_failed[plugin_id]|length}}</td>
  </tr>
{% if tests_waived[plugin_id]|length > 0 %}
  <tr class="row table-borderless">
    <th class="col col-sm-3">Waived</th>
    <td class="col">{{tests_waived[plugin_id]|length}}</td>
  </tr>
{% endif %}
</table>
{% if tests_running[plugin_id]|length > 0 %}
    <a class="card-link btn btn-warning" href="{{url_for('tests.route_retry_all', plugin_id=plugin_id)}}">Retry all</a>
{% endif %}
{% if tests_failed[plugin_id]|length > 0 %}
    <a class="card-link btn btn-warning" href="{{url_for('tests.route_waive_all', plugin_id=plugin_id)}}">Waive all</a>
{% endif %}
{% if tests_success[plugin_id]|length > 0 or tests_failed[plugin_id]|length %}
    <a class="card-link btn btn-danger float-right" href="{{url_for('tests.route_delete_all', plugin_id=plugin_id)}}">Delete all</a>
{% endif %}
  </div>
</div>
{% endfor %}

{% else %}
<p class="text-secondary">
  No tests exist.
</p>
{% endif %}

{% endblock %}
